:root {
  font-size: 62.5%;

  @media screen and (min-width: 767px) {
    font-size: 65%;
  }
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-size: 100%;
  list-style-type: none;
}

ul,
li {
  list-style: none;
}
